
.itemCart img{
    width: 250px;
    height: 200px;
    margin-right: 1rem;
}

.titulo {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;   
    color: rgb(48, 44, 44);
}

.tipografia{
    color: rgb(53, 53, 56);
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;   
    font-weight: 200;
    font-size: 1rem;
}

