.bg-light{
    background-color: #b6897a !important;
}

.nav-link {
    color: black !important;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;

}

.sec {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}


a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}