.bg-light{
    background-color: #b6897a !important;
}

.nav-link {
    color: #ffff !important;
    font-size: 1.5rem;
    font-family: sans-serif;
    font-style: italic;

}

.sec {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
}