@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quicksand:wght@300&display=swap');

.App {
  text-align: center;
  background-color: #b6897a !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #caa598;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.info{
  font-family: 'Oswald', sans-serif;
  font-family: 'Quicksand', sans-serif;
  color: rgb(0, 0, 0) ;
  background-color: #ad8c80!important;

}

.precio{
  color: rgb(119, 60, 11);
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
font-family: 'Quicksand', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
