.palabra{
    color: rgba(0, 0, 0, 0.856);
    font-family: sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 2.5rem;
}

.box{
    background-color: rgb(202, 161, 115);
    padding: 35px 35px;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.boton {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: sans-serif;
    font-style: italic;
    padding: 10px 10px;
}
